@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.MyContainer{
  max-width: 1400px;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.card-tall {
  position: relative;
  height: 520px;
  background: #FFE9E5;
  border: 1px solid #FFB3AA;
  border-radius: 22px;
  padding: 20px;
  overflow: hidden;
}

.card-wide {
  position: relative;
  height: 240px;
  background: #FFE9E5;
  border: 1px solid #FFB3AA;
  border-radius: 22px;
  padding: 16px;
  overflow: hidden;
}

.card-small {
  position: relative;
  height: 180px;
  background: #FFE9E5;
  border: 1px solid #FFB3AA;
  border-radius: 22px;
  padding: 14px;
  overflow: hidden;
}

.img {
  object-fit: contain;
}




.my-div1 {
  display: none; /* hidden by default (below 1280px) */
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .my-div1 {
    display: block; /* visible only between 1280px and 1440px */
  }
}




.my-div2 {
  display: none; /* hidden by default (below 1150px) */
}

@media (min-width: 1441px) {
  .my-div2 {
    display: block; /* visible only above 1440px */
  }
}
